@import "../node_modules/bootstrap/scss/bootstrap";

$--clr-primario: #469b9e;
$--clr-tit: #004ce3;
$--clr-le-hover: black;
$--clr-hover: cyan;
$--clr-nav: white;
$--clr-back: #eeeeee;

body {
    //background-color: #242424; 
    background-image: url(../img/background.jpg);
    background-size: contain;
}

.titulo{
    color: $--clr-nav;
    border-radius: 5rem;
}

.subtitulo{
    color: $--clr-nav;
    border-radius: 5rem;
}

.background-tit{
    background-color: #696969;
}

.background-white {
    background-color: $--clr-nav;
}

.background-primario {
    background-color: $--clr-primario;
}

.lista-nav li{
    height: 100%;
    width: 100%;
}

.lista-nav li:hover{
    background-color: $--clr-hover;
}

.lista-nav a{
    color: $--clr-nav;
    text-decoration: none;
}

.lista-nav li a:hover{
    color: $--clr-le-hover;
}

.presentacion{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.curriculum {
    max-height: 534px;
    max-width: 507px;
}

.curriculum img {
    max-height: 534px;
    max-width: 507px;
}

.curriculum a{
    transition: 0.5s;
}

.curriculum a:hover{
    transform: scale(1.15);
}

.altura-proyectos {
    max-height: 10vh;
    height: 10vh;
}

.border-radius {
    border-radius: 5rem;
}

.tecHeight {
    height: fit-content;
    margin-top: 30rem;
    border-radius: 4rem;
}

.logo {
    max-width: 8rem;
    max-height: 8rem;
    transition: 0.5s;
    border-radius: 4rem;
}

.logo:hover{
    transform: scale(1.25);
}

.contacto {
    height: 25rem;
    background-color: #696969;
}

.contacto p{
    color: $--clr-nav;
}

.redes{
    max-width: 5rem;
    max-height: 5rem;
    transition: 0.5s;
    border-radius: 4rem;
}

.redes:hover {
    transform: scale(1.25);
}